#        ***VERSIONS TO APPS***
# DJANGO VERSION 5.2
# POSTGRESQL VERSION 17.5
# NODE.JS VERSION 22.15.0 - NPM VERSION 10.9.2(FOR REACT V4.3.0)

#DEPENDENCES
django==5.2.1
psycopg2==2.9.10 #THIS ADMITS v17.5 OF POSTGRESQL