#        ***VERSIONS TO APPS***
# DJANGO VERSION 5.2.1
# DJANGO ENVIRON VERSION 0.12.0 
# DJANGO CORS HEADERS VERSION 4.7.0
# DJANGO REST FRAMEWORK VERSION 3.16.0
# DJANGO STORAGES VERSION 1.14.6
# DJANGO CKEDITOR VERSION 6.7.2
# PILLOW VERSION 11.2.1
# POSTGRESQL VERSION 17.5
# NODE.JS VERSION 22.15.0 - NPM VERSION 10.9.2(FOR REACT V4.3.0)

#DEPENDENCES
django==5.2.1
django-environ==0.12.0
django-cors-headers==4.7.0
djangorestframework==3.16.0
django-storages==1.14.6
django-ckeditor==6.7.2
pillow==11.2.1
psycopg2==2.9.10 #THIS ADMITS v17.5 OF POSTGRESQL